* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  border: none;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url('../assets/img/background.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

/* .container::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  background: url('../assets/img/background.jpg') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.7;
} */

/* Search Bar */
.search-bar {
  margin-top: 10rem;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  max-width: 700px;

  border-radius: 60px;
  box-shadow: 3px 5px #ccc;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.search-bar input {
  width: 100%;
  font-size: 1.2rem;
  background: transparent;
  padding: 1rem 2rem;
}

::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.search-bar button {
  margin-right: 2rem;
  background: transparent;
}

.search-bar button:hover {
  cursor: pointer;
}

.search-bar:hover {
  opacity: 0.85;
}

/* Location and Temperature Section */
.info {
  margin: 3rem;
}

.info .location {
  margin-bottom: 1rem;
  font-size: 4rem;
  color: rgb(77, 77, 77);
}

.info .temperature {
  font-size: 3rem;
  font-weight: 500;
  color: #2e60ea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.info .temperature img {
  width: 60px;
}

/* Date and Time Section */
.date-time {
  padding: 1rem 4rem;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  border-radius: 30px;
  color: rgb(77, 77, 77);
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 500;
}

.time span {
  font-size: 1rem;
}
